.AllShoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin: 120px 20px 80px;

  .title {
    font-family: var(--font);
    font-size: 60px;
    font-weight: 700;

    color: var(--black);

    text-align: center;
  }
  
    .all_shoes{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
}
