@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #212121;
  --color-text: #767676;
  --secondary-text: #515151;
  --white: #fff;
  --black: #000;
  --font: "Montserrat", sans-serif;
  --second-font: "Poppins", sans-serif;
  --blue:rgba(28, 124, 249, 0.816);
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

  width: 100%;
  height: fit-content;

  color: #000;
}

a {
  font-family: var(--font);
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;


  cursor: pointer;
}

.active-page {
  background-color: #e5dcdc8b;

  color: blue;

  padding: 5px 18px;

  border-radius: 13px;

  text-align: center;
}
